<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847210502911-nbjqhd5glo4ujkm64156rq436o8d7s3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847210502911-nbjqhd5glo4ujkm64156rq436o8d7s3g</string>
	<key>API_KEY</key>
	<string>AIzaSyDu5Cwi2RtNAkIa37UF_UeFAEC4njPeaVg</string>
	<key>GCM_SENDER_ID</key>
	<string>847210502911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ccsstudy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ccstudy-f84d3</string>
	<key>STORAGE_BUCKET</key>
	<string>ccstudy-f84d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847210502911:ios:214b21116c83acb4874aca</string>
</dict>
</plist>